* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  color: white;
  font-family: sans-serif;
  padding: 35px;
}

#app {
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background: #333131;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 300px;
}

h1 {
  color: #00ff99;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 15px;
}

.status {
  font-size: 100px;
  font-weight: bold;
  margin: 10px 0;
}

#chart {
  width: 100%;
  height: 400px;
}

.navbar {
  background-color: #000000;
  border-bottom: 2px solid #00ff99;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #00ff99;
  font-weight: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style-type: none;
  display: flex;
  gap: 100px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.5s;
}

.nav-links a:hover {
  color: #00ff99;
}

.nav-links a.router-link-active {
  color: #00ff99;
}

.page {
  display: none;
  padding-top: 60px;
}

.page.active {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.dashboard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: flex-start;
}

.history-layout {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.search-panel {
  flex: 1;
  max-width: 250px;
}

.chart-panel {
  flex: 1;
}

.date-input {
  width: 90%;
  padding: 15px;
  background: #1a1a1a;
  border: 1px solid #00ff99;
  color: white;
  border-radius: 10px;
  margin-bottom: 15px;
  position: relative;
  background-image: url('../images/Date.png');
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 40px 40px;
}

.date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

.search-btn {
  width: 100%;
  padding: 10px;
  background: #00ff99;
  color: black;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background: #00cc7a;
}

.device-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.device-card {
  background: #333131;
  padding: 20px;
  border-radius: 10px;
}

.device-card .status {
  font-size: 24px;
}

.device-card.active {
  border: 2px solid #00ff99;
}

.device-card.inactive {
  border: 2px solid #ff4d4d;
}

.page-content {
  padding-top: 60px;
}

p {
  line-height: 1.6;
}
